

nav {
    background:linear-gradient(to right, rgb(38, 98, 239),  rgb(4, 7, 146));
    height: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 6px;
}

#weatherNav {
    padding: 13px;
    padding-left: 400px;
}

#searchforCity {
    margin-left: 6px;
    font-size: 30px;
}

#searchHistory {
    margin-left: 6px;
}

#search_city {
    margin-left: 6px;
    width: 300px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    
}

#search {
    margin: 6px;
    width: 300px;
    height: 32px;
    background-color:rgb(87, 169, 236);
    border-radius: 5px 5px 5px 5px;
    border-style: none;
}

#currentWeather {
    margin-left: 350px;
    display:flex;
    
}

#forecastWeather{
    margin-left: 350px;
}