

nav {
    background:linear-gradient(to right, rgb(38, 98, 239),  rgb(4, 7, 146));
    height: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 6px;
}

#weatherNav {
    padding: 13px;
    padding-left: 400px;
}

#searchforCity {
    margin-left: 6px;
    font-size: 30px;
}